<div class="production-graph">
  <header>
    <div class="timeranges">
      <div class="range">
        <input name="ph_range" id="ph_1" type="radio" checked>
        <label for="ph_1">1 ay</label>
      </div>
      <div class="range">
        <input name="ph_range" id="ph_2" type="radio">
        <label for="ph_2">3 ay</label>
      </div>
      <div class="range">
        <input name="ph_range" id="ph_3" type="radio">
        <label for="ph_3">6 ay</label>
      </div>
      <div class="range">
        <input name="ph_range" id="ph_4" type="radio">
        <label for="ph_4">1 yıl</label>
      </div>
      <div class="range">
        <input name="ph_range" id="ph_5" type="radio">
        <label for="ph_5">Tümü</label>
      </div>
    </div>
    <div class="graph-info">
      <div>
        <span class="selected-timerange-text">Oca 01, 2018</span>
        ile
        <span class="selected-timerange-text">Şub 01, 2018</span>
        aralığı gösteriliyor
      </div>
      <div class="production-amount">
        <strong class="amount">763267</strong> kg
      </div>
    </div>
  </header>

  <main>
    <div class="chart" #chartContainer>
      <canvas #chart></canvas>
    </div>
  </main>
</div>

<table class="as-table production-history">
  <thead>
    <tr>
      <th>İş Tanımı</th>
      <th>Üretim Miktarı <em>(kg)</em></th>
      <th>Hurda <em>(kg)</em></th>
      <th>Çalışma Süresi <em>(dk)</em></th>
      <th>Bekleme Süresi <em>(dk)</em></th>
      <th>Başlangıç Tarihi</th>
      <th>Bitiş Tarihi</th>
      <th class="efficiency">Verimlilik</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of mockTableData">
      <td>{{ d.workDescription }}</td>
      <td>{{ d.productionAmount }}</td>
      <td>{{ d.junk }}</td>
      <td>{{ d.workingTime }}</td>
      <td>{{ d.waitingTime }}</td>
      <td>{{ d.startDate | date }}</td>
      <td>{{ d.endDate | date }}</td>
      <td class="efficiency">
        <span>{{ d.efficiency }}</span>
      </td>
    </tr>
  </tbody>
</table>