@import 'abstracts/variables';

:host {
  display: block;
}

.production-graph {
  padding: 1rem 4rem;
  background: rgba(var(--color-seventh), 1.0);
  border-radius: $generalBorderRadius;

  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .timeranges {
    .range {
      display: inline-block;
      margin: 0 0.25rem;
      cursor: pointer;
    }
  
    input {
      display: none;
    }
  
    input:checked + label {
      background: rgba(var(--color-eight), 1.0);
    }
  
    label {
      padding: 0.2rem 0.5rem;
      user-select: none;
      cursor: pointer;
      border-radius: 20px;
    }
  }

  .graph-info {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;

    .selected-timerange-text {
      text-transform: none;
      font-weight: normal;
      background: rgba(var(--color-eight), 0.3);
      border-radius: $generalBorderRadius;
      padding: 0 0.5rem;
      margin: 0 0.5rem;
    }

    .production-amount {
      font-weight: normal;
      margin-top: 0.8rem;
      font-size: 1.5rem;

      .amount {
        font-weight: bold;
      }
    }
  }
}

.production-history {
  width: 100%;
  margin-top: 2rem;

  th {
    text-align: left;
    padding-bottom: 0.7rem;
  }

  th:first-child,
  td:first-child {
    padding-left: 1.5rem;
  }

  th:last-child,
  td:last-child {
    text-align: center;
    padding-right: 1rem;
  }

  td.efficiency {
    span {
      font-weight: bold;
      color: rgba(var(--color-first), 1.0);
      background: rgba(var(--color-sixth), 1.0);
      padding: 0 1.2rem;
      border-radius: 16px;
    }
  }
}