@import '../abstracts/variables';

.as-table {
  border-collapse: collapse;

  th {
    font-weight: normal;
    font-size: $tableHeadFontSize;
    color: rgba(var(--color-eight), 1.0);
    padding-bottom: 0.3rem;
  }

  tr:nth-child(odd) {
    td {
      background: rgba(var(--color-seventh), 1.0);
    }
  }

  td {
    padding: 0.7rem 0;

    &:first-child {
      border-top-left-radius: $generalBorderRadius;
      border-bottom-left-radius: $generalBorderRadius;
    }

    &:last-child {
      border-top-right-radius: $generalBorderRadius;
      border-bottom-right-radius: $generalBorderRadius;
    }
  }
}
