:host {
  display: block;
  margin: 6rem 4rem;
}

.login-title {
  font-weight: normal;
  font-size: 3rem;
}

form {
  margin-bottom: 2rem;

  input {
    display: block;
    width: 24rem;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  button[type='submit'] {
    width: 15rem;
    background: black;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
  }
}