<h1 class="login-title">Giriş Yap</h1>

<form [formGroup]="loginForm" (submit)="onSubmitForm($event)">
  <input autocomplete="off" type="text" placeholder="KULLANICI ADI" formControlName="username" required>
  <input autocomplete="off" type="password" placeholder="ŞİFRE" formControlName="password" required>
  <button type="submit">Giriş Yap</button>
</form>
<a class="forgot-password" href="javascript:void(0)">Şifrenizi mi unuttunuz?</a>
