<div class="machine-image"></div>
<div class="last-updated">
  {{ status.lastReceivedInfoDate | date }}
</div>
<div class="machine-info">
  <h2 class="machine-title">Makina {{ status.machineId }}</h2>
  <p class="machine-description">{{ status.productName }}</p>
</div>
<div class="efficiency-graph">
  <as-pie-chart [percentage]="efficiency"></as-pie-chart>
  <p class="graph-percentage">
    %{{ efficiency }}
  </p>
</div>
<ul class="machine-statistics">
  <li>
    <div class="value">{{ status.currentProductionAmount }}kg</div>
    <div class="title">anlık üretim</div>
  </li>
  <li>
    <div class="value">{{ status.targetProductionAmount }}kg</div>
    <div class="title">hedef</div>
  </li>
  <li>
    <div class="value">{{ status.rpm }}</div>
    <div class="title">rpm</div>
  </li>
  <li>
    <div class="value">%{{ efficiency }}</div>
    <div class="title">verimlilik</div>
  </li>
</ul>
