$padding: 1rem;

:host {
  display: block;
  position: relative;
  padding: $padding;
  border-radius: 5px;

  &.good {
    background: rgba(var(--color-fifth), 1.0);
  }

  &.bad {
    background: rgba(var(--color-sixth), 1.0);
  }

  &.noData {
    background: rgba(var(--color-seventh), 1.0);
  }
}

.last-updated {
  position: absolute;
  top: $padding;
  right: $padding;
  font-size: 1rem;
  border: 1px solid rgba(var(--color-second), 1.0);
  padding: 0.2rem 1rem;
  border-radius: 2rem;
}

.machine-image {
  width: 4rem;
  height: 4rem;
  background: rgba(var(--color-second), 0.5);
  border-radius: 3px;
}

.efficiency-graph {
  position: absolute;
  top: calc(#{$padding} + 3rem);
  right: $padding;
  width: 4rem;
  height: 4rem;

  .graph-percentage {
    margin: 0;
    text-align: center;
  }
}

.machine-info {
  margin-top: 1.3rem;
  
  .machine-title {
    font-weight: normal;
    margin: 0;
  }

  .machine-description {
    margin: 0;
    font-size: 0.8rem;
  }
}

.machine-statistics {
  display: flex;
  width: 100%;
  background: rgba(var(--color-first), 0.2);
  border-radius: 3px;
  padding: 0.2rem;
  margin-top: 2rem;

  li {
    display: block;
    flex: 1 1 0;
  }

  .value {
    text-align: center;
  }

  .title {
    margin-top: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgba(var(--color-ninth), 1.0);
  }
}
