:host {
  display: block;
}

.breadcrumbs {
  grid-column: 1 / span 2;

  li {
    display: inline-block;

    &.seperator {
      margin: 0 0.5rem;
    }

    &.active {
      color: rgba(var(--color-eight), 1.0);
    }
  }
}
