<div class="timeranges">
  <div class="range">
    <input name="faat_range" id="faat_01" type="radio">
    <label for="faat_01">Güncel Vardiya</label>
  </div>
  <div class="range">
    <input name="faat_range" id="faat_02" type="radio">
    <label for="faat_02">Günlük</label>
  </div>
  <div class="range">
    <input name="faat_range" id="faat_03" type="radio">
    <label for="faat_03">Haftalık</label>
  </div>
  <div class="range">
    <input name="faat_range" id="faat_04" type="radio">
    <label for="faat_04">Aylık</label>
  </div>
  <div class="range">
    <input name="faat_range" id="faat_05" type="radio">
    <label for="faat_05">Tümü</label>
  </div>
</div>
<table class="as-table analysis-table">
  <thead>
    <tr>
      <th class="reason">Sebep</th>
      <th>Ortalama Bekleme Süresi (dk)</th>
      <th>Fabrika Ortalama Bekleme Süresi (dk)</th>
      <th>Verimlilik %</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="reason">Duraklama</td>
      <td>{{ currentlyShown.averageWaiting }}</td>
      <td>{{ currentlyShown.factoryAverageWaiting }}</td>
      <td class="efficiency" [class.bad]="currentlyShown.efficiency < 50" [class.good]="currentlyShown.efficiency >= 50">
        <span>{{ currentlyShown.efficiency }}</span>
      </td>
    </tr>
  </tbody>
</table>