<header>
  <nav>
    <a class="link" href="javascript:void(0)" title="Homepage">indet</a>
    <a class="link help-link" href="javascript:void(0)" title="Help">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
        <path d="m496,248c0,136.997 -111.043,248 -248,248s-248,-111.003 -248,-248c0,-136.917 111.043,-248 248,-248s248,111.083 248,248zm-241.345,-166c-54.497,0 -89.255,22.957 -116.549,63.758c-3.536,5.286 -2.353,12.415 2.715,16.258l34.699,26.31c5.205,3.947 12.621,3.008 16.665,-2.122c17.864,-22.658 30.113,-35.797 57.303,-35.797c20.429,0 45.698,13.148 45.698,32.958c0,14.976 -12.363,22.667 -32.534,33.976c-23.524,13.187 -54.652,29.6 -54.652,70.659l0,4c0,6.627 5.373,12 12,12l56,0c6.627,0 12,-5.373 12,-12l0,-1.333c0,-28.462 83.186,-29.647 83.186,-106.667c0,-58.002 -60.165,-102 -116.531,-102zm-6.655,248c-25.365,0 -46,20.635 -46,46c0,25.364 20.635,46 46,46s46,-20.636 46,-46c0,-25.365 -20.635,-46 -46,-46z" fill="currentColor"/>
      </svg>        
    </a>
  </nav>
</header>
