header {
  padding: 3rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-size: 1.5rem;
}

.help-link {
  color: #7d7d7d;
  width: 1.75rem;
  border: 1px solid #7d7d7d;
  border-radius: 4px;
  padding: 0.3rem;
  box-sizing: content-box;

  svg {
    vertical-align: bottom;
  }
}