<main class="machine-list-container">
  
  <as-breadcrumbs></as-breadcrumbs>

  <h1 class="page-header">Makina Durumları</h1>

  <aside class="sidebar">
    <h2 class="sidebar-title">Tipler</h2>
    <ul class="sidebar-links">
      <li class="sidebar-link active">Tümü</li>
      <li class="sidebar-link">Çit 30mm</li>
      <li class="sidebar-link">Çit Galvaniz</li>
      <li class="sidebar-link">Çit 50mm</li>
      <li class="sidebar-link">Çit 40mm</li>
      <li class="sidebar-link">Çit 60mm</li>
    </ul>
  </aside>

  <section class="machine-list">
    <header class="machine-list-header">
      <p class="machine-list-description">
        Makina durumları aşağıda listelenmiştir. <br>
        Filtreleri kullanarak aradığınız makinayı bulabilirsiniz.
      </p>
      <form class="machine-search-form">
        <input class="machine-search-field" type="text" placeholder="Makina ve ya iş tanımı ara...">
        <button class="form-submit" type="submit">
          <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
            <path d="m12.812504,11.250004l-0.79,0l-0.28,-0.27c0.98,-1.14 1.57,-2.62 1.57,-4.23c0,-3.59 -2.91,-6.5 -6.5,-6.5s-6.5,2.91 -6.5,6.5s2.91,6.5 6.5,6.5c1.61,0 3.09,-0.59 4.23,-1.57l0.27,0.28l0,0.79l5,4.99l1.49,-1.49l-4.99,-5zm-6,0c-2.49,0 -4.5,-2.01 -4.5,-4.5s2.01,-4.5 4.5,-4.5s4.5,2.01 4.5,4.5s-2.01,4.5 -4.5,4.5z" fill="currentColor"/>
          </svg>                     
        </button>
      </form>
      <as-input-select class="machine-type-selector">
        <option value="all">Tüm Makinalar</option>
        <option value="another">Bakalım selected çalışıyorumu</option>
      </as-input-select>
    </header>
    <main>
      <ul class="machines">
        <li *ngFor="let stat of currentStats">
          <a class="machine-detail-link" [routerLink]="[ '..', 'machine-detail', stat.machineId ]">
            <as-machine-card
              [status]="stat"
              [class.noData]="beforeTenSeconds(stat.lastReceivedInfoDate)"
              [class.good]="!beforeTenSeconds(stat.lastReceivedInfoDate) && stat.isWorking"
              [class.bad]="!beforeTenSeconds(stat.lastReceivedInfoDate) && !stat.isWorking"
            ></as-machine-card>
          </a>
      </ul>
    </main>
  </section>
</main>