.machine-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 

  .page-header {
    grid-column: 1 / span 4;
    margin: 3rem 0;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
  }

  .sidebar {
    .sidebar-title {
      font-weight: normal;
    }
    .sidebar-links {
      margin-top: 3rem;

      .sidebar-link {
        margin: 2.5rem 0;

        &.active {
          color: rgba(var(--color-third), $alpha: 1.0);
        }
      }
    }
  }

  .machine-list {
    grid-column: 2 / span 3;

    .machine-list-header {
      display: flex;
      align-items: center;
      
      input, select {
        appearance: none;
      }

      .machine-list-description {
        flex: 5 1 0;
      }

      .machine-search-form {
        position: relative;
        flex: 3 1 0;
        padding: 0 1rem;

        .machine-search-field {
          width: 100%;
          padding: 0.7rem 1.9rem 0.7rem 0.7rem;
          background: rgba(var(--color-seventh), 1.0);
          border: none;
          border-radius: 5px;
          color: rgba(var(--color-second), 1.0);
        }

        .form-submit {
          position: absolute;
          display: block;
          padding: 0;
          right: 1.5rem;
          top: 50%;
          transform: translateY(-50%);
          background: transparent;
          border: none;
          width: 1.2rem;
          color: rgba(var(--color-second), 0.3);
        }
      }

      .machine-type-selector {
        flex: 2 1 0;
      }
    }

    .machines {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      margin-top: 2rem;
    }
  }
}

.machine-detail-link {
  text-decoration: none;
  display: block;
}
