@import "../abstracts/variables";

.theme-default {
  --color-first: #{$colorBlack};
  --color-second: #{$colorWhite};
  --color-third: #{$colorDarkGreen};
  --color-fifth: #{$colorLightGreen};
  --color-sixth: #{$colorRed};
  --color-seventh: #{$colorDarkGrey};
  --color-eight: #{$colorLightGrey};
  --color-ninth: #{$colorLighterGrey};
}
