.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  background: rgba(var(--color-first), 1.0);

  .company-logo {
    font-size: 2rem;
  }

  .middle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85rem;
    color: rgba(var(--color-eight), 1.0);
    
    .link {
      margin: 0 1rem;
    }

    .link.active {
      color: rgba(var(--color-third), 1.0);
    }
  }

  .left-nav {
    .logged-user {
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}