<nav class="navbar">
  <div class="right-nav">
    <a class="company-logo" href="javascript:void(0)">indet</a>
  </div>
  <div class="middle-nav">
    <a class="link active" href="javascript:void(0)">makina durumları</a>
    <a class="link" href="javascript:void(0)">üretim durumları</a>
    <a class="link" href="javascript:void(0)">arızalar</a>
    <a class="link" href="javascript:void(0)">öneriler</a>
    <a class="link" href="javascript:void(0)">çalışanlar</a>
  </div>
  <div class="left-nav">
    <span class="logged-user">ömer altunay</span>
  </div>
</nav>