:host {
  position: relative;
  display: inline-block;
}

.select {
  display: block;
  appearance: none;
  width: 100%;
  background: rgba(var(--color-seventh), 1.0);
  border: none;
  color: rgba(var(--color-second), 1.0);
  padding: 0.7rem 1.7rem 0.7rem 0.7rem;
  border-radius: 5px;
}

.arrow-icons {
  position: absolute;
  width: 0.7rem;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(var(--color-second), 1.0);
}