<select class="select">
  <ng-content></ng-content>
</select>
<div class="arrow-icons">
  <svg viewBox="0 0 12 18" xmlns="http://www.w3.org/2000/svg">
    <path transform="rotate(-180 6,3.9200000762939453) " d="m1.41,0.215l4.59,4.58l4.59,-4.58l1.41,1.41l-6,6l-6,-6l1.41,-1.41z" fill="currentColor"/>
    <path d="m1.41,10.4025l4.59,4.58l4.59,-4.58l1.41,1.41l-6,6l-6,-6l1.41,-1.41z" fill="currentColor"/>
  </svg>    
</div>
