<div class="timeranges">
  <div class="range">
    <input (change)="switchTimeSpan('currentShift')" name="mwt_range" id="mwt_01" type="radio">
    <label for="mwt_01">Güncel Vardiya</label>
  </div>
  <div class="range">
    <input (change)="switchTimeSpan('daily')" name="mwt_range" id="mwt_02" type="radio">
    <label for="mwt_02">Günlük</label>
  </div>
  <div class="range">
    <input (change)="switchTimeSpan('weekly')" name="mwt_range" id="mwt_03" type="radio">
    <label for="mwt_03">Haftalık</label>
  </div>
  <div class="range">
    <input (change)="switchTimeSpan('monthly')" name="mwt_range" id="mwt_04" type="radio">
    <label for="mwt_04">Aylık</label>
  </div>
  <div class="range">
    <input (change)="switchTimeSpan('all')" name="mwt_range" id="mwt_05" type="radio">
    <label for="mwt_05">Tümü</label>
  </div>
</div>
<table class="as-table analysis-table">
  <thead>
    <tr>
      <th class="reason">Sebep</th>
      <th>Toplam Bekleme Süresi (dk)</th>
      <th>Bekleme Adedi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="currentlyShown">
      <td class="reason">Duraklama</td>
      <td>{{ currentlyShown.time | number:'1.1-1' }}</td>
      <td>{{ currentlyShown.amount | number:'1.1-1' }}</td>
    </tr>
  </tbody>
</table>