@import 'abstracts/variables';

:host {
  display: block;
}

.timeranges {
  text-align: center;
  background: rgba(var(--color-seventh), 1.0);
  padding: 0.7rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 1rem;

  .range {
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
  }

  input {
    display: none;
  }

  input:checked + label {
    background: rgba(var(--color-eight), 1.0);
  }

  label {
    padding: 0.2rem 0.5rem;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
  }
}

.analysis-table {
  width: 100%;

  .reason {
    padding-left: 1rem;
    text-align: left;
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;

    &.reason {
      font-weight: bold;
      color: rgba(var(--color-fifth), 1.0);
    }
  }
}
