/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/main.scss";

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
  background-color: rgba(var(--color-first), 1.0);
  color: rgba(var(--color-second), 1.0);
}

a {
  color: inherit;
  text-decoration: none;
}
