$colorBlack: 0, 0, 0;
$colorWhite: 255, 255, 255;
$colorDarkGreen: 118, 173, 54;
$colorLightGreen: 122, 194, 50;
$colorRed: 205, 3, 27;
$colorDarkGrey: 29, 32, 37;
$colorLightGrey: 100, 100, 100;
$colorLighterGrey: 153, 153, 153;

$tableHeadFontSize: 0.9rem;

$generalBorderRadius: 3px;