@import 'abstracts/variables';

.machine-detail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  gap: 2rem;

  .page-header {
    grid-column: 1 / span 2;
    margin: 3rem 0;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
  }

  .detail-section {

    .section-title {
      font-weight: normal;

      &:after {
        content: "";
        display: block;
        width: 4rem;
        height: 3px;
        margin-top: 0.625rem;
        background: rgba(var(--color-fifth), 1.0);
      }
    }
  }

  .machine-details {
    .section-content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: 2rem;
      gap: 2rem;
    }

    .machine-image {
      display: block;
      width: 100%;
    }

    .machine-infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;

      h3 {
        font-size: 1rem;
        font-weight: normal;
        color: rgba(var(--color-eight), 1.0);
        margin: 0 0 0.3rem 0;
      }

      p {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  .work-status {
    .section-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      gap: 3rem;
    }

    .work-status-field {
      h3 {
        font-size: 0.9rem;
        font-weight: normal;
        margin: 0;
        color: rgba(var(--color-eight), 1.0);
      }

      p {
        margin-top: 0.5rem;
      }
    }

    .shift-table {
      th {
        text-align: center;
      }

      td {
        text-align: center;

        &.working-time {
          font-weight: bold;
          color: rgba(var(--color-fifth), 1.0);
        }
      }
    }

    .efficiency-graph {
      display: flex;
      width: 100%;
      align-items: center;
      background: rgba(var(--color-seventh), 1.0);
      padding: 0 2rem;
      border-radius: 3px;

      h3 {
        font-weight: normal;
        margin-right: 2rem;
      }

      .progress-bar {
        background: rgba(var(--color-eight), 1.0);
        flex-grow: 1;
        text-align: right;
        border-radius: 15px;
      }

      .progress-bar-inner {
        padding: 0.25rem 0.7rem 0.25rem 0;
        border-radius: 15px;
        background: rgba(var(--color-sixth), 1.0);
      }

      .percentage {
        font-weight: bold;
      }
    }
  }

  .production-history {
    grid-column: 1 / span 2;
  }
}