<main class="machine-detail-container">

  <as-breadcrumbs></as-breadcrumbs>

  <h1 class="page-header">Makina 10</h1>

  <section class="detail-section machine-details">
    <h2 class="section-title">Makina Detayları</h2>
    <div class="section-content">
      <img class="machine-image" src="./assets/images/machine-detail.png" alt="Machine image">
      <ul class="machine-infos">
        <li>
          <h3>Makine ismi</h3>
          <p>Çit Örgü Küçük</p>
        </li>
        <li>
          <h3>Makina Bölümü</h3>
          <p>Örgü Bölümü</p>
        </li>
        <li>
          <h3>Fabrika Adı</h3>
          <p>Asçit</p>
        </li>
        <li>
          <h3>Lokasyon</h3>
          <p>İstanbul</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="detail-section work-status">
    <h2 class="section-title">Çalışma Durumu</h2>
    <div class="section-content">
      <div class="work-status-field">
        <h3>İş Tanımı</h3>
        <p>30mm çit..............lorem ipsum</p>
      </div>
      <table class="as-table shift-table">
        <thead>
          <tr>
            <th>Vardia</th>
            <th>Kullanıcı ID</th>
            <th>Çalışma Süresi <em>(dk)</em></th>
            <th>Bekleme Süresi <em>(dk)</em></th>
            <th>Verimlilik %</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="generalStatus && currentPauseStats && currentWorkTimeStats">
            <td>08:00 - 16:00</td>
            <td class="working-time">123</td>
            <td>{{ currentWorkTimeStats.currentShiftTime }}</td>
            <td>{{ currentPauseStats.currentShiftTime }}</td>
            <td>{{ currentShiftEfficiency }}</td>
          </tr>
        </tbody>
      </table>
      <div class="efficiency-graph">
        <h3>Verimlilik</h3>
        <div class="progress-bar">
          <div class="progress-bar-inner" [style.width.%]="currentShiftEfficiency">
            <span class="percentage">
              {{ currentShiftEfficiency }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="detail-section waiting-analysis">
    <h2 class="section-title">Makina Duraklama Analizi</h2>
    <div class="section-content">
      <as-machine-waiting-table [pauseAnalysis]="currentPauseStats"></as-machine-waiting-table>
    </div>
  </section>

  <section class="detail-section average-waiting-analysis">
    <h2 class="section-title">Makina - Fabrika Ortalaması Analizi</h2>
    <div class="section-content">
      <as-factory-average-analysis-table></as-factory-average-analysis-table>
    </div>
  </section>

  <section class="detail-section production-history">
    <h2 class="section-title">Üretim Geçmişi</h2>
    <div class="section-content">
      <as-production-history></as-production-history>
    </div>
  </section>

</main>